@font-face {
    font-family: "iconfont"; /* Project id 4813686 */
    src: url('//at.alicdn.com/t/c/font_4813686_0taertqziu6n.woff2?t=1741177613326') format('woff2'),
    url('//at.alicdn.com/t/c/font_4813686_0taertqziu6n.woff?t=1741177613326') format('woff'),
    url('//at.alicdn.com/t/c/font_4813686_0taertqziu6n.ttf?t=1741177613326') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 16px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-dengpao:before {
    content: "\e610";
}

.icon-heiye2:before {
    content: "\e652";
}

.icon-tuichu:before {
    content: "\e60f";
}

.icon-baitian-qing:before {
    content: "\e672";
}

.icon-heiye:before {
    content: "\e668";
}

.icon-heiyemoshi:before {
    content: "\e617";
}

.icon-heiye1:before {
    content: "\e632";
}

.icon-shoucang2:before {
    content: "\e60a";
}

.icon-shezhi:before {
    content: "\e60b";
}

.icon-shezhi1:before {
    content: "\e643";
}

.icon-geren:before {
    content: "\e60c";
}

.icon-settings:before {
    content: "\e619";
}

.icon-16:before {
    content: "\e615";
}

.icon-xiaoxi:before {
    content: "\e8bd";
}

.icon-jiahao:before {
    content: "\e726";
}

.icon-jiahao1:before {
    content: "\eaf3";
}

.icon-tubiao02:before {
    content: "\e602";
}

.icon-pinglun:before {
    content: "\e6ad";
}

.icon-shoucang1:before {
    content: "\e8c6";
}

.icon-xinxi1:before {
    content: "\e624";
}

.icon-shoucang:before {
    content: "\e601";
}

.icon-xinxi:before {
    content: "\e763";
}

.icon-shoucangxuanzhong:before {
    content: "\e62b";
}

.icon-dianzan_kuai:before {
    content: "\ec8c";
}

.icon-liulanliang:before {
    content: "\e603";
}

.icon-home:before {
    content: "\e604";
}

.icon-yonghuliebiao:before {
    content: "\e605";
}

.icon-beifenhuifu:before {
    content: "\e606";
}

.icon-beifenhuifu1:before {
    content: "\e607";
}

.icon-beifenpeizhi:before {
    content: "\e608";
}

.icon-canshupeizhi:before {
    content: "\e609";
}

.icon-jiaoseguanli:before {
    content: "\e60d";
}

.icon-jinyongguaqi:before {
    content: "\e60e";
}

.icon-xitongshengji:before {
    content: "\e616";
}

.icon-dianzan:before {
    content: "\e600";
}
